<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title>WS281X LEDs</title>
    <meta name="description" content="WS281X LED Control Panel" />
    <meta name="author" content="Kyle Insaurralde" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link rel="manifest" href="../static/manifest.json" />
    <script defer src="../static/helpers.js"></script>
    <script defer src="../static/pwa/pwa.js"></script>
    <script defer src="../static/pwa/colors.js"></script>
    <link
      rel="apple-touch-icon"
      sizes="192x192"
      href="../static/icons/icon-192x192.png"
    />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/mobile.css" />
    <link rel="stylesheet" href="../static/css/mobile-expand.css" />
    <link rel="stylesheet" href="../static/css/mobile-colors.css" />
  </head>

  <body>
    <div id="main-page">
      <div class="mobile-section-divider"></div>
      <div class="mobile-section" id="section-controllers">
        <div class="mobile-section-body">
          <div class="mobile-section-title">Controllers</div>
          <div class="mobile-container">
            <button
              type="button"
              class="mobile-button-box"
              style="border-color: green;"
            >
              tester_a<br />10.351 ms
            </button>
            <button
              type="button"
              class="mobile-button-box"
              style="border-color: red;"
            >
              tester_b<br />ERROR
            </button>
            <button
              type="button"
              class="mobile-button-box"
              style="border-color: green;"
            >
              tester_c<br />103.587 ms
            </button>
            <button
              type="button"
              class="mobile-button-box"
              style="border-color: yellow;"
            >
              tester_c<br />123.781 ms
            </button>
            <div class="mobile-blank-box"></div>
            <div class="mobile-blank-box"></div>
            <div class="mobile-blank-box"></div>
            <div class="mobile-blank-box"></div>
          </div>
        </div>
        <span class="mobile-section-expand"  id="expand-controllers-section">
          <img
            class="mobile-expand-icon"
            src="../static/icons/right_arrow.png"
            alt="Expand Controllers Section"
          />
        </span>
      </div>
      <div class="mobile-section-divider"></div>
      <div class="mobile-section display-toggle" id="section-brightness">
        <div class="mobile-section-body">
          <div class="mobile-section-title">Brightness</div>
          <input
            type="range"
            class="mobile-brightness-slider"
            id="main-brightness-slider"
            min="0"
            max="255"
          />
        </div>
        <span class="mobile-section-expand" id="expand-brightness-section">
          <img
            class="mobile-expand-icon"
            src="../static/icons/right_arrow.png"
            alt="Expand Brightness Section"
          />
        </span>
      </div>
      <div class="mobile-section-divider display-toggle"></div>
      <div class="mobile-section display-toggle" id="section-colors">
        <div class="mobile-section-body">
          <div class="mobile-section-title">Colors</div>
          <div class="mobile-container">
            {% for c in colors["colors"]["noedit"] %} {% set r = c["value"][0]
            %} {% set g = c["value"][1] %} {% set b = c["value"][2] %}
            <div
              class="mobile-color-box"
              style="background-color: rgb({{r}}, {{g}}, {{b}});"
              onclick="simpleColor({{r}}, {{g}}, {{b}})"
            ></div>
            {% endfor %} {% for i in range(colors["colors"]["noedit"]|length, 7)
            %}
            <div class="mobile-blank-box"></div>
            {% endfor %}
          </div>
        </div>
        <span class="mobile-section-expand" id="expand-color-section">
          <img
            class="mobile-expand-icon"
            src="../static/icons/right_arrow.png"
            alt="Expand Colors Section"
          />
        </span>
      </div>
      <div class="mobile-section-divider display-toggle"></div>
      <div class="mobile-section display-toggle" id="section-animations">
        <div class="mobile-section-body">
          <div class="mobile-section-title">Animations</div>
          <div class="mobile-container">
            {% for animation in animation_presets %}
            <button
              type="button"
              class="mobile-button-box"
              onclick="simpleAnimation({{animation['args']}})"
            >
              {{animation["name"]}}
            </button>
            {% endfor %} {% for i in range(animation_presets|length, 7) %}
            <div class="mobile-blank-box"></div>
            {% endfor %}
          </div>
        </div>
        <span class="mobile-section-expand" id="expand-animations-section">
          <img
            class="mobile-expand-icon"
            src="../static/icons/right_arrow.png"
            alt="Expand Animations Section"
          />
        </span>
      </div>
      <div class="mobile-section-divider display-toggle"></div>
      <div class="mobile-section display-toggle" id="section-sequences">
        <div class="mobile-section-body">
          <div class="mobile-section-title">Sequences</div>
          <div class="mobile-container">
            <button
              type="button"
              class="mobile-button-box"
              onclick="stopAllSequences()"
            >
              Stop All
            </button>
            {% for sequence in sequences['sequences'] %} {% for s in
            sequence['functions'] %}
            <button
              type="button"
              class="mobile-button-box"
              onclick="simpleSequence('{{sequence['name']}}', '{{s}}')"
            >
              {{sequence['name']}}<br />{{s}}
            </button>
            {% endfor %} {% endfor %}
          </div>
        </div>
        <span class="mobile-section-expand" id="expand-sequences-section">
          <img
            class="mobile-expand-icon"
            src="../static/icons/right_arrow.png"
            alt="Expand Sequences Section"
          />
        </span>
      </div>
      <div class="mobile-section-divider display-toggle"></div>
      <div class="mobile-section display-toggle" id="section-other">
        <div class="mobile-section-body">
          <div class="mobile-section-title">Other</div>
          <div class="mobile-container">
            <div class="mobile-button-box" id="other-timestamp">Timestamp:<br />{{timestamp}}</div>
            <div class="mobile-button-box" id="other-sw"></div>
            <div class="mobile-button-box"></div>
            <div class="mobile-button-box"></div>
            <div class="mobile-button-box"></div>
            <div class="mobile-button-box"></div>
            <div class="mobile-button-box"></div>
            <div class="mobile-button-box"></div>
          </div>
        </div>
        <span class="mobile-section-expand" id="expand-other-section">
          <img
            class="mobile-expand-icon"
            src="../static/icons/right_arrow.png"
            alt="Expand Other Section"
          />
        </span>
      </div>

      <!-- Expaned Sections -->

      <div id="expanded" class="expand-display-toggle">
        <div id="expanded-container">
          <!-- Controllers -->
          <div class="expanded-area" id="expanded-controllers-area">
          
          </div>
          <!-- Brightness -->
          <div class="expanded-area" id="expanded-brightness-area">
          
          </div>
          <!-- Color -->
          <div class="expanded-area" id="expanded-color-area">
            <div id="expanded-color-sliders">
              <input type="range" id="expanded-color-r-slider" min="0" max="255">
              <input type="range" id="expanded-color-g-slider" min="0" max="255">
              <input type="range" id="expanded-color-b-slider" min="0" max="255">
            </div>
            <div id="expanded-color-display-container">
              <div id="expanded-color-display"><div id="expanded-color-send-text">Send</div></div>
              <div id="expanded-color-text">255, 255, 255</div>
            </div>
            <div id="expanded-color-settings-container">
              <div>Live:</div>
              <input type="checkbox" id="expanded-color-live" checked>
            </div>
          </div>
          <!-- Animations -->
          <div class="expanded-area" id="expanded-animations-area">
          
          </div>
          <!-- Sequences -->
          <div class="expanded-area" id="expanded-sequences-area">
          
          </div>
          <!-- Other -->
          <div class="expanded-area" id="expanded-other-area">
          
          </div>
        </div>
        <div class="mobile-section" id="close-expanded">
          <button type="button" id="close-expanded-button" class="color-button">Done</button>
        </div>
      </div>
    </div>
  </body>

  <script>
    const False = false
    const True = true
    document.getElementById("other-sw").textContent = "LOL";
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register("./service-worker.js")
        .then(function (registration) {
          console.log("Service Worker Registered!")
          return registration
        })
        .catch(function (err) {
          console.error("Unable to register service worker.", err)
        })
      document.getElementById("other-sw").textContent = "Supported";
    } else {
      document.getElementById("other-sw").textContent = "Not Supported";
    }
  </script>
</html>
