html {
    /* Constants */
    --light-body-background: rgb(255,255,255);
    --dark-body-background: rgb(0,0,0);

    --light-input-border: rgb(165,165,165);
    --dark-input-border: rgb(90,90,90);

    --light-input-background: rgb(205,205,205);
    --dark-input-background: rgb(50,50,50);

    --light-border-color: rgb(155,155,155);
    --dark-border-color: rgb(100,100,100);

    --light-text-color: rgb(0,0,0);
    --dark-text-color: rgb(255,255,255);

    --color-red: rgb(255,0,0);
    --color-green: rgb(0,255,0);
    --color-blue: rgb(0,0,255);
    --color-cyan: rgb(0,255,255);
    --color-magenta: rgb(255,0,255);
    --color-yellow: rgb(255,255,0);

    /* Acutal Use */
    --body-background: var(--light-body-background);
    --text-color: var(--light-text-color);
    --input-border: var(--light-input-border);
    --input-background: var(--light-input-background);
    --border-color: var(--light-border-color);

    /* Accessability */
    --slider-thumb-width: .5vw;
    --slider-thumb-height: 1.25vw;

    overflow: scroll;
    overflow-x: hidden;
}

/* Acutal Use Variables */
@media (prefers-color-scheme: dark) {
    html {
        --body-background: var(--dark-body-background);
        --text-color: var(--dark-text-color);
        --input-border: var(--dark-input-border);
        --input-background: var(--dark-input-background);
        --border-color: var(--dark-border-color);
    }
}

@media (prefers-color-scheme: light) {
    html {
        --body-background: var(--light-body-background);
        --text-color: var(--light-text-color);
        --input-border: var(--light-input-border);
        --input-background: var(--light-input-background);
        --border-color: var(--light-border-color);
    }
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    font-family: sans-serif;
    font-size: 1vw;
    background: var(--body-background);
    color: var(--text-color);
    -webkit-user-select: none;
    outline: 0vw solid red;
}

input, select {
    font-size: .75vw;
    font-family: sans-serif;
    -webkit-appearance: none;
}

input[type=button] {
    width: 8vw;
    height: 1.5vw;
    border: .1vw solid var(--input-border);
    background-color: var(--input-background);
    color: var(--text-color);
}

input[type=text] {
    width: 40vw;
    height: 1.5vw;
    border: .1vw solid var(--input-border);
    background-color: var(--body-background);
    color: var(--text-color);
}

input[type=range] {
    width: 16vw;
    height: .5vw;
    /* position: relative; */
    top: .5vw;
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    background-color: var(--input-background);
    border: .1vw solid var(--input-border);
    outline: none; /* Remove outline */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--slider-thumb-width);
    height: var(--slider-thumb-height);
    background-color: var(--input-background);
    border: .1vw solid var(--input-border);
    cursor: pointer;
}

select[multiple] option:checked {
    background: red linear-gradient(0deg, red 0%, red 100%);
}

textarea {
    width: 100%;
    height: 5vw;
    min-height: 3vw;
    border: .1vw solid var(--input-border);
    background-color: var(--body-background);
    color: var(--text-color);
}

.text-1-25 {
    font-size: 1.25vw;
}

@media screen and (max-width: 1000px) {
    html {
        --slider-thumb-width: 1.25vw;
        --slider-thumb-height: 2vw;
    }
} 

input[type=checkbox] {
    width: 1.5vw;
    height: 1.5vw;
    margin: 0;
    appearance: none;
    -webkit-appearance: none;
    border: .1vw solid var(--input-border);
    background-color: var(--input-background);
}

input[type=checkbox]:checked {
    border: .25vw solid var(--input-border);
    background-color: var(--text-color);
}

input[type=number] {
    border: .1vw solid var(--input-border);
    background-color: var(--body-background);
    color: var(--text-color);
    text-align: center;
    width: 3vw;
    height: 1.5vw;

}

select {
    width:100%;
    background-color: var(--body-background);
    border: .1vw solid var(--input-border);
    color: var(---text-color);
    width: 5vw;
    height: 1.5vw;
}


.send-data {
    display: none;
}


#page-title {
    font-size: 2vw;
}

.section {
    width: 98%;
    border: .08vw solid var(--border-color);
    border-radius: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh;
}

.section-flex {
    display: flex;
    border: .08vw solid var(--border-color);
    border-radius: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vw;
    flex-wrap: wrap
}

.section-flex-no-border {
    display: flex;
    flex-wrap: wrap;
}

.section-hidden {
    display: flex;
}


.section-setting {
    border: .08vw solid var(--border-color);
    border-radius: 1vh;
    padding: 1vh;
    margin-top: .25vh;
    margin-bottom: .25vh;
}



.section-title {
    font-size: 1.5vw;
}

.section-title-secondary {
    font-size: 1.25vw;
}

.section-send {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.section-send-button {
  margin: auto;
}

.expand-button {
    width: 2vw;
    margin-left: 1vw;
}

.divider {
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border-bottom: .1vw solid var(--border-color); 
}

.v-divider {
    margin-left: 1vw;
    margin-right: 1vw;
    border-right: .1vw solid var(--border-color); 
}

.color-sample-display {
    width: 1.5vw;
    height: 1.5vw;
    border: .1vw solid var(--border-color);
    border-radius: .25vw;
}

#settings-status {
    background-color: var(--color-green);
}   

.space-1 {
    margin-top: .5vh;
    margin-bottom: .5vh;
}

.space-5 {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.space-s-1 {
    margin-left: .5vh;
    margin-right: .5vh;
}

.space-s-2 {
    margin-left: 1vh;
    margin-right: 1vh;
}


.space-s-5 {
    margin-left: 2.5vh;
    margin-right: 2.5vh;
}

.pixel-display {
    width: 1.10vw;
    height: 1.10vw;
    border: .1vw solid var(--text-color);
    border-radius: 1vw;
    margin: .15vw;
    background-color: var(--text-color);
}

@media screen and (max-width: 1000px) {
    .pixel-display {
        width: 2.7vw;
        height: 2.7vw;
        border: .2vw solid var(--text-color);
        border-radius: 2vw;
        margin: .3vw;
        background-color: var(--text-color);
        margin: 0 auto;
    }
} 

.pixel-display-row {
    display: flex;
    flex-wrap: wrap;
    width: 96vw;
    padding-top: .1vw;
    padding-bottom: .1vw;
}


.width-10 {
    width: 10vw !important; 
}

.width-8 {
    width: 8vw !important; 
}

.width-5 {
    width: 5vw !important; 
}

/* Table */

table {
    border-collapse: collapse;
}

th {
    font-weight: bold;
}

td, th{
    border: 1px solid var(--input-border);
    text-align: center;
    font-size: 1vw;
    padding: .5vw;
}

tr:nth-child(even) {
    background-color: var(--input-background);
}
