html {
  --expanded-color-value: rgb(0, 0, 0);
  --expanded-color-value-inverted: rgb(255, 255, 255);
  --expanded-color-r-percent: 80%;
  --expanded-color-g-percent: 80%;
  --expanded-color-b-percent: 80%;
}

#expanded {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 83vh;
}

#expanded-container {
  width: 100%;
  height: 100%;
}

#close-expanded-button {
  width: 100%;
  height: 100%;
  font-size: 10vh;
  background-color: var(--body-background);
  border: 5px solid;
}

.expanded-area {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}

#expanded-brightness-area {
  background-color: red;
}

#expanded-animations-area {
  background-color: yellow;
}

#expanded-sequences-area {
  background-color: purple;
}

#expanded-other-area {
  background-color: orange;
}
