#expanded-color-sliders {
  width: 100%;
}

#expanded-color-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 32vh;
  order: -1;
}

#expanded-color-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24vh;
  height: 24vh;
  border: 4px solid var(--expanded-color-value-inverted);
  border-radius: 35px;
  background-color: var(--expanded-color-value);
  text-align: center;
  font-size: 1.75rem;
  color: var(--expanded-color-value-inverted);
}

#expanded-color-text {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
}

#expanded-color-settings-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 5vmax;
  font-size: 5vmax;
}

#expanded-color-live {
  width: 5vmax;
  height: 5vmax;
  margin-left: 5vw;
  border: 4px solid var(--text-color);
  background-color: red;
}

#expanded-color-live:checked {
  background-color: green;
}

#expanded-color-area input[type='range'] {
  width: 80%;
  margin: 5px 10%;
  height: 8vh;
  border: 2px solid var(--expanded-color-value);
}

#expanded-color-area input[type='range']::-webkit-slider-thumb {
  width: 10vw;
  height: 8vh;
  border: 5px solid var(--text-color);
}

#expanded-color-r-slider::-webkit-slider-thumb {
  background-color: red;
}

#expanded-color-g-slider::-webkit-slider-thumb {
  background-color: green;
}

#expanded-color-b-slider::-webkit-slider-thumb {
  background-color: blue;
}

#expanded-color-r-slider::-webkit-slider-runnable-track {
  background-image: linear-gradient(
    90deg,
    red var(--expanded-color-r-percent),
    var(--body-background) var(--expanded-color-r-percent)
  );
}

#expanded-color-g-slider::-webkit-slider-runnable-track {
  background-image: linear-gradient(
    90deg,
    green var(--expanded-color-g-percent),
    var(--body-background) var(--expanded-color-g-percent)
  );
}

#expanded-color-b-slider::-webkit-slider-runnable-track {
  background-image: linear-gradient(
    90deg,
    blue var(--expanded-color-b-percent),
    var(--body-background) var(--expanded-color-b-percent)
  );
}

#expanded-color-send {
  width: 10vw;
  height: 5vmax;
}

@media only screen and (min-width: 500px) {
  #expanded-color-sliders {
    width: 60%;
  }

  #expanded-color-display-container {
    width: 35%;
    order: 0;
  }
}
