#control-table tbody tr:nth-child(4n),
#control-table tbody tr:nth-child(4n - 1) {
  background-color: var(--body-background);
}

#control-table tbody tr:nth-child(4n - 2),
#control-table tbody tr:nth-child(4n - 3) {
  background-color: var(--input-background);
}

#colors-noedit button {
  margin: 0.25vh;
}

.space-between {
  justify-content: space-between;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.white {
  color: white;
}

.display-pixel {
  width: 2.5vw;
  height: 2.5vw;
  margin: 0.15vw;
  border-radius: 0.75vw;
  border: 0.2vw solid var(--text-color);
}
