<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <script src="../static/writehtml.js"></script>
    <script src="../static/main.js"></script>
    <script src="../static/save.js"></script>
    <script src="../static/shift.js"></script>
    <script src="../static/preset.js"></script>
    <script src="../static/wipe.js"></script>
    <script src="../static/pulse.js"></script>
    <script src="../static/switch.js"></script>
    <script src="../static/random.js"></script>
</head>

<body onload="pageLoad()">
    <iframe id="send-data-0" class="send-data" src=""></iframe>
    <iframe id="send-data-1" class="send-data" src=""></iframe>
    <iframe id="send-data-2" class="send-data" src=""></iframe>
    <iframe id="send-data-3" class="send-data" src=""></iframe>

    <div id="page-title">Lights</div>


    <div class="section" id="main-display" style="display: none;">
        <div class="section-flex" id="main-pixel-display"></div>
    </div>

    <div class="section" id="settings">
        <div class="section-title">Settings<input type="button" class="expand-button" value="^" style="width: 2vw;"
                onclick="expand('settings','flex')"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="settings-expanded">
            <div class="section-setting">
                <div class="section-title-secondary">Brightness</div>
                <div class="space-1"></div>
                <input type="range" value="25" min="1" max="255" id="settings-brightness" oninput="lights.setBrightness()">
            </div>
            <div class="space-s-1"></div>
            <div class="section-setting">
                <div class="section-title-secondary">Reverse</div>
                <div class="space-1"></div>
                <input type="checkbox" value="Send Color" checked id="settings-reversed" onclick="settingReversed()">
            </div>
            <div class="space-s-1"></div>
            <div class="section-setting">
                <div class="section-title-secondary">Web Theme</div>
                <div class="space-1"></div>
                <select id="settings-web-theme" oninput="colorTheme()">
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                    <option value="high_contrast">High Contrast</option>
                    <option value="high_contrast_colored">Contrast Colored</option>
                    <option value="dark_rgb">Dark RGB</option>
                    <option value="custom">Custom</option>
                </select>
            </div>
            <div class="space-s-1"></div>
            <div class="section-setting">
                <div class="section-title-secondary">Fullscreen</div>
                <div class="space-1"></div>
                <input type="button" value="Toggle" onclick="toggleFullScreen()">
            </div>
        </div>
        <div class="section"  id="settings-web-theme-expanded" style="display: none;">
            <div class="section-title-secondary">Custom Web Theme</div>
            <div style="display: flex;" id="settings-web-custom-container">
            </div>
        </div>
    </div>

    <div class="section" id="quick">
        <div class="section-title">Quick Buttons<input type="button" class="expand-button" value="^" style="width: 2vw;"
                onclick="expand('quick','block')"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="quick-expanded" style="display: block;">
            <input type="button" value="Off" onclick="lights.off()">
            <input type="button" value="Random Each" onclick="lights.random(1)">
            <input type="button" value="Random" onclick="lights.random(60)">
            <input type="button" value="Red" onclick="lights.colorAll(255,0,0)">
            <input type="button" value="Green" onclick="lights.colorAll(0,255,0)">
            <input type="button" value="Blue" onclick="lights.colorAll(0,0,255)">
            <input type="button" value="White" onclick="lights.colorAll(255,255,255)">
            <input type="button" value="Black" onclick="lights.colorAll(0,0,0)">
            <input type="button" value="#Red Wipe#" onclick="lights.wipe(255,0,0,-1,40)">
            <input type="button" value="#Green Wipe#" onclick="lights.wipe(0,255,0,1,20)">
            <input type="button" value="#Blue Wipe#" onclick="lights.wipe(0,0,255,-1,10)">
            <div class="space-1"></div>
            <input type="button" value="Stop Animation" onclick="lights.stopAnimation()">
            <input type="button" value="*Red Chase*" onclick="lights.chase(255,0,0,50)">
            <input type="button" value="*Green Chase*" onclick="lights.chase(0,255,0,50)">
            <input type="button" value="*Blue Chase*" onclick="lights.chase(0,0,255,50)">
            <input type="button" value="*Rainbow Chase*" onclick="lights.rainbowChase(50)">
            <input type="button" value="*Rainbow Cycle*" onclick="lights.rainbowCycle(50)">
            <input type="button" value="*Random Each*" onclick="lights.random(1, 50, true)">
            <input type="button" value="*Random*" onclick="lights.random(60, 100, true)">
            <input type="button" value="*Red Pulse*" onclick="lights.pulse('animate',255,0,0,0,20,10,500)">
            <input type="button" value="*Green Pulse*" onclick="lights.pulse('animate',0,255,0,0,10,4,250)">
            <input type="button" value="*Blue Pulse*" onclick="lights.pulse('animate',0,0,255,1,25,6,500)">
            <div class="space-1"></div>
            <input type="button" value="Red Pulse" onclick="lights.pulse('run',255,0,0,0,20,10)">
            <input type="button" value="Green Pulse" onclick="lights.pulse('run',0,255,0,0,10,4)">
            <input type="button" value="Blue Pulse" onclick="lights.pulse('run',0,0,255,1,25,6)">
            <input type="button" value="RCGMBY" onclick="preset.run(0)">
            <input type="button" value="RGB" onclick="preset.run(1)">
        </div>
    </div>

    <div class="section" id="full-color">
        <div class="section-title">Full Color<input type="button" class="expand-button" value="^" style="width: 2vw;"
                onclick="expand('full-color','block')"><input type="button" class="expand-button" value="+"
                style="width: 2vw;" onclick="addSave()"><input type="button" class="expand-button" value="-"
                style="width: 2vw;" onclick="removeSave()"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="full-color-expanded" style="display: block;">
        
        </div>
    </div>

    <div class="section" id="operations">
        <div class="section-title">Operations<input type="button" class="expand-button" value="^" style="width: 2vw;"
                onclick="expand('operations','block')"><input type="button" class="expand-button" value="+"
                style="width: 2vw;" onclick="addShift()"><input type="button" class="expand-button" value="-"
                style="width: 2vw;" onclick="removeShift()"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="operations-expanded" style="display: block;">
            <input type="button" value="Flip" onclick="lights.reverseStrip()">
            <input type="button" value="Shift Left" onclick="lights.shift(-1,0)">
            <input type="button" value="Shift Right" onclick="lights.shift(1,0)">
        </div>
    </div>

    <div class="section" id="switch">
        <div class="section-title">Switch<input type="button" class="expand-button" value="^" style="width: 2vw;"
                onclick="expand('switch','block')"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="switch-expanded" style="display: block;">

        </div>
    </div>

    <div class="section" id="pulse">
        <div class="section-title">Pulse<input type="button" class="expand-button" value="^" style="width: 2vw;"
                onclick="expand('pulse','block')"><input type="button" class="expand-button" value="+"
                style="width: 2vw;" onclick="addPulse()"><input type="button" class="expand-button" value="-"
                style="width: 2vw;" onclick="removePulse()"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="pulse-expanded" style="display: block;">

        </div>
    </div>

    <div class="section" id="wipe">
        <div class="section-title">Wipe<input type="button" class="expand-button" value="^" style="width: 2vw;"
                onclick="expand('wipe','block')"><input type="button" class="expand-button" value="+"
                style="width: 2vw;" onclick="addWipe()"><input type="button" class="expand-button" value="-"
                style="width: 2vw;" onclick="removeWipe()"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="wipe-expanded" style="display: block;">

        </div>
    </div>

    <div class="section" id="random">
        <div class="section-title">Random<input type="button" class="expand-button" value="^" style="width: 2vw;"
                onclick="expand('random','block')"><input type="button" class="expand-button" value="+"
                style="width: 2vw;" onclick="addRandom()"><input type="button" class="expand-button" value="-"
                style="width: 2vw;" onclick="removeRandom()"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="random-expanded" style="display: block;">

        </div>
    </div>

    <div class="section" id="individual-pixels">
        <div class="section-title">Individual Pixels<input type="button" class="expand-button" value="^"
                style="width: 2vw;" onclick="expand('individual-pixels','block')"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="individual-pixels-expanded" style="display: block;">
            <div class="section-flex" id="pixel-holder" style="padding: 0;">
            </div>
            <div class="section-hidden" id="individual-pixels-settings">
            </div>
        </div>
    </div>

    <script>
        var send = document.getElementById("send-data-0");
        var html = new HTMLWriter();
        var lights = new LightStrip(60);
        var saves = new Array();
        var wipes = new Array();
        var shift = new Array();
        var preset = new Preset();
        var pulse = new Array();
        var random = new Array();
        var lswitch = new LSwitch();

        function pageLoad() {
            addSaveLive();
            addSave(255,0,0);
            addSave(0,255,0);
            addSave(0,0,255);
            addSave(0,255,255);
            addSave(255,0,255);
            addSave(255,255,0);
            for (let i = 0; i < 3; i++) {
                addWipe();
                addPulse();
                addShift();
                addRandom();
            }
            lswitch.create();
        }

        function settingReversed() {
            if (document.getElementById("settings-reversed").checked) {
                lights.direction = -1;
            } else {
                lights.direction = 1;
            }
            lights.reverseStrip();
        }

        function expand(id, displayType) {
            let target = document.getElementById(id + "-expanded");
            if (target.style.display == "none") {
                target.style.display = displayType;
            } else {
                target.style.display = "none";
            }
        }


        function lightsRandom(each) {
            if (each) {
                path = "run/random/none"
                console.log("SENT:", path);
                send.src = path;
            } else {
                let r = 0;
                let g = 0;
                let b = 0;
                let skip = Math.floor(Math.random() * 3);
                if (skip != 0) {
                    r = Math.floor(Math.random() * 255);
                }
                if (skip != 1) {
                    g = Math.floor(Math.random() * 255);
                }
                if (skip != 2) {
                    b = Math.floor(Math.random() * 255);
                }
                lights.colorAll(r, g, b);
            }
        }
    </script>
</body>

</html>
