<html>

<head>
    <title>Lights</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="../../../static/libs/socket.io.js"></script>
    <script src="../static/writehtml.js"></script>
    <script src="../static/sender.js"></script>
    <script src="../static/index/colors.js"></script>
    <script src="../static/index/actions.js"></script>
    <script src="../static/index/controllers.js"></script>

</head>

<body>
    <div class="section" id="controllers">
        <div class="section-title">Controllers<input type="button" class="expand-button" value="^" style="width: 2vw;" onclick="expand('controllers','block')"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="controllers-expanded" style="display: block;">
        <div class="divider"></div>
        <div class="space-1"></div>
        <table id="controller_table">
            <tr>
                <th>Name</th>
                <th>Brightness Slider</th>
                <th>Cur/Max Brightness</th>
                <th>Num Pixels</th>
                <th>Pixel Sections</th>
                <th>Send</th>
            </tr>
            {% for v in vcontrollers %}
                {% set vid = v['vid'] %}
                {% if v['real'] == True %}
                    {% set cid = vid[:-8] %}
                    {% set id = 'controller_' + cid + '_' %}
                    {% for c in controllers %}
                        {% if c["controller_id"] == cid %}
                            <tr>
                                <td>{{c["controller_id"]}}</td>
                                <td><input id="{{id}}brightness_slider" type="range" min="0" max="{{c['neopixels']['max_brightness']}}" step="1" value="{{c['neopixels']['brightness']}}" oninput="controllers.send_brightness('{{cid}}')"></td>
                                <td><span id="{{id}}brightness">{{c["neopixels"]["brightness"]}}</span> / {{c["neopixels"]["max_brightness"]}}</td>
                                <td>{{c["neopixels"]["num_pixels"]}}</td>
                                <td>{{c["controller_id"]}}: ALL</td>
                                <td><input type="checkbox" id="{{id}}send" oninput="controllers.set_send('{{cid}}')" checked></td>
                            </tr>
                        {% endif %}
                    {% endfor %}                 
                {% else %}
                    <tr>
                        <td>{{vid}}</td>
                        <td>---</td>
                        <td>---</td>
                        <td>{{v['led_count']}}</td>
                        <td>
                            {% if vid == "ALL" %}
                                ALL
                            {% else %}
                                {% for s in v['controller_info'] %}
                                    {{s['id']}}: {{s['start']}} - {{s['end']}}
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td><input type="checkbox" id="controller_{{vid}}_send" oninput="controllers.set_send('{{vid}}')"></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    </div>

    <div class="section" id="quick">
        <div class="section-title">Quick Actions<input type="button" class="expand-button" value="^" style="width: 2vw;"
                onclick="expand('quick','block')"></div>
        <div class="space-1"></div>
        <div class="section-hidden" id="quick-expanded" style="display: block;">
            <div class="divider"></div>
            {% for r in quick_actions["settings"]["rows"]%}
                <div>{{r["title"]}}</div>
                {% for b in r["buttons"] %}
                    {% if b in quick_actions["actions"] %}
                        <input type="button" value="{{quick_actions['actions'][b]['display']}}" onclick="actions.send_action('{{b}}')">
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

    <div class="section" id="colors">
        <div class="section-title">Colors
            <input type="button" class="expand-button" value="^" style="width: 2vw;" onclick="expand('colors', 'block')">
            <input type="button" class="expand-button" value="+" style="width: 2vw;" onclick="colors.custom_add()">
            <input type="button" class="expand-button" value="-" style="width: 2vw;" onclick="colors.custom_remove()">
        </div>
        <div class="space-1"></div>
        <div class="section-hidden" id="colors-expanded" style="display: block;">
            <div class="divider"></div>
            {% for c in colors['colors']['noedit'] %}
                {% set name = c['name'] %}
                {% set value = c['value'] %}
                    <input type="button" value="{{c['display']}}" onclick="colors.default('{{name}}', {{value}})">
            {% endfor %}
            <div id="custom_colors">
                {% set count = namespace(value=0) %}
                {% for c in colors['colors']['edit'] %}
                    {% set name = c['name'] %}
                    {% set id = 'colors_' + name %}
                    {% set disp = 'none' %}
                    {% if c['visible'] == true %}
                        {% set disp = 'block' %}
                        {% set count.value = count.value + 1 %}
                    {% endif %}
                    {% set r = c['value'][0] %}
                    {% set g = c['value'][1] %}
                    {% set b = c['value'][2] %}
                    <div style="display: {{disp}};" id="color_{{loop.index}}">
                        <div class="divider"></div>
                        <div class="section-flex-no-border">
                            <div style="width: 6vw;" id="{{id}}_name" class="flex-align text-1-25">{{name}}</div>
                            <div class="v-divider"></div>
                            <input type="range" id="{{id}}_r" class="input-slider-flex-align" min="0" max="255" value="{{r}}" oninput="colors.change_color('{{id}}')">
                            <input type="range" id="{{id}}_g" class="input-slider-flex-align" min="0" max="255" value="{{g}}" oninput="colors.change_color('{{id}}')">
                            <input type="range" id="{{id}}_b" class="input-slider-flex-align" min="0" max="255" value="{{b}}" oninput="colors.change_color('{{id}}')">
                            <div class="v-divider"></div>
                            <div id="{{id}}_display" class="color-sample-display" style="background-color: rgb({{r}}, {{g}}, {{b}});"></div>
                            <div class="space-s-2"></div>
                            <div class="flex-align text-1-25" style="width: 7vw;">
                                <span id="{{id}}_r_txt">{{r}}</span>
                                <span id="{{id}}_g_txt">{{g}}</span>
                                <span id="{{id}}_b_txt">{{b}}</span>
                            </div>
                            <div class="v-divider"></div>
                            <input type="button" value="Send" onclick="colors.custom('{{name}}', '{{id}}')">
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="custom_colors_count" style="display: none;">{{count.value}}</div>
        </div>
    </div>

    <div class="section" id="info">
        <input type="button" value="View Code" onclick="openURL('https:\/\/github.com/kinsaurralde/ws_281x-lights')">
        <input type="button" value="View Status" onclick="openURL('info/web')">
        <input type="button" value="kinsaurralde.com" onclick="openURL('https:\/\/kinsaurralde.com')">
    </div>

    <script>
        let sender = new Sender();
        let actions = new Actions(sender);
        let controllers = new Controllers();
        let colors = new Colors();

        function openURL(url) {
            window.open(url, "_blank");
        }

        function expand(id, displayType) {
            let target = document.getElementById(id + "-expanded");
            if (target.style.display == "none") {
                target.style.display = displayType;
            } else {
                target.style.display = "none";
            }
        }
    </script>

   
</body>

</html>