<!DOCTYPE html>
<html>

<head>
    <title>Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../static/main.css">
    <script src="../../../static/info.js"></script>
</head>

<body>
    <div id="page-title">Info</div>
    <div class="space-1"></div>
    <div class="divider"></div>
    <input type="button" value="Refresh" onclick="info.refresh()">
    <div class="space-1"></div>
    <table id="info-table">
        <tr>
            <th>Controller id</th>
            <th>Power Usage (milliamps)</th>
            <th>Brightness</th>
            <th>Num Pixels</th>
            <th>Num Strips</th>
        </tr>
    </table>
    <div class="divider"></div>
    <div id="controllers">
    </div>
</body>
<script>
    var info = new Info();
</script>

</html>