<!DOCTYPE html>
<html>

<head>
    <title>Keys</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../static/main/main.css">
    <script src="../../../static/keys.js"></script>
</head>

<body onload="pageLoad()">
    <div id="page-title">Keys</div>
    <div class="space-1"></div>
    <div class="divider"></div>
    <div class="section-flex">
        <div class="section-setting">
            <div class="section-title-secondary">Refresh</div>
            <input type="button" value="Refresh" onclick="keys.refresh()">
        </div>
        <div class="space-s-1"></div>
        <div class="section-setting">
            <div class="section-title-secondary">Add Key</div>
            <input type="number" min="0" value="0" id="add-key-num">
            <input type="button" value="Add" onclick="keys.addKey()" class="width-5">
        </div>
        <div class="space-s-1"></div>
        <div class="section-setting">
            <div class="section-title-secondary">Host</div>
            <div id="keys-host"></div>
        </div>
    </div>
    <div class="divider"></div>
    <div class="space-5"></div>
    <div>
        <table id="keys-table">
            <tr>
                <th>Key</th>
                <th>Strips</th>
                <th>Change Key To</th>
                <th>Send Change Key</th>
                <th>Add Strip #</th>
                <th>Send Add Strip</th>
                <th>Remove Strip #</th>
                <th>Send Remove Strip</th>
                <th>Remove Key</th>
            </tr>
        </table>
    </div>
</body>
<script>
    var keys = new Keys();

    function pageLoad() {
        keys.refresh();
    }
</script>

</html>
