<!DOCTYPE html>
<html>

<head>
    <title>Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../../static/css/main.css">
    <script src="../../../static/writehtml.js"></script>
    <script src="../../../static/info/info.js"></script>
    <script src="../../../static/info/pixels.js"></script>
    <script src="../../../static/libs/socket.io.js"></script>
</head>

<body>
    <div id="page-title">Info</div>
    <div class="space-1"></div>
    <div class="divider"></div>
    <div class="section-flex-no-border">
        <div class="text-1-25">Enabled:</div>
        <div class="space-s-1"></div>
        <input type="checkbox" onclick="info.toggleUpdate('info-enabled')" id="info-enabled" checked>
        <div class="v-divider"></div>
        <div class="text-1-25">Ping:</div>
        <div class="space-s-1"></div>
        <div class="text-1-25"><span id="webping"> --- </span> ms</div>
        <div class="space-s-1"></div>
        <input type="button" value="Test" onclick="info.ping()">
    </div>
    <div class="divider"></div>
    <div class="space-1"></div>
    <table id="info-table">
        <tr>
            <th>Controller id</th>
            <th>Power Usage (W)</th>
            <th>Brightness</th>
            <th>Num Pixels</th>
        </tr>
        {% for c in controllers %}
           <tr>
               <td>{{c['controller_id']}}</td>
               <td><span id="table_{{c['controller_id']}}_power">---</span> / {{c['neopixels']['max_watts']}}</td>
               <td><span id="table_{{c['controller_id']}}_brightness">---</span> / {{c['neopixels']['max_brightness']}}</td>
               <td>{{c['neopixels']['num_pixels']}}</td>    
           </tr>
        {% endfor %}
    </table>
    <div class="divider"></div>
    <div id="controllers">
    </div>
</body>
<script>
    let w = new HTMLWriter();
    let info = new Info("controllers", "info-table");
</script>

</html>
